<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>KAFKA_API_SERVICE</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSSZ} | %level | %contextName | ${SPRING_PROFILES_ACTIVE} | %X{X-B3-TraceId:-} | %X{X-B3-SpanId:-} | ${PID:-} | [%thread] | %logger{35} | %message%n
            </Pattern>
        </layout>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/kafka-api-service.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSSZ} | %level | %contextName | ${SPRING_PROFILES_ACTIVE} | %X{X-B3-TraceId:-} | %X{X-B3-SpanId:-} | ${PID:-} | [%thread] | %logger{35} | %message%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/var/log/kafka-api-service-.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>40</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.spring" level="WARN" />
    <logger name="org.springframework" level="INFO" />
    <logger name="ch.qos.logback" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
